#formCv {
    display: grid;
    place-items: center;
    margin: 1rem 0 8rem 0;
}


.container-form {
    margin-bottom: 2rem;
}

section {
    margin: 2rem 0 0 0;

}

.main-input-group {
    margin: 0.8rem 0 0.8rem 0;
    display: grid;
    grid-row-gap: 0.3rem;

}


.group-large-input {
    display: flex;
    width: 44.5rem;
    height: 2rem;
    padding: 0.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;

}

input:focus,
textarea:focus {
    outline: none;
}

.group-title {
    color: var(--Naranja-Bluetab, #E05206);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 2.25rem */
    letter-spacing: -0.0165rem;
    text-transform: uppercase;

}

#container-form input,
textarea {
    border-radius: 0.5rem;
    border: 1px solid var(--Gris-claro-Bluetab, #DAD7CB);
    background: var(--Blanco, #FFF);
    color: var(--Gris-Bluetab, #675C53);


    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.00963rem;
    padding: 0.5rem;
}

label,
input,
p {

    padding-left: 0.5rem;
    ;
}

#summary {
    display: flex;
    width: 44.5rem;
    height: 7.125rem;

    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
}


.container-date {
    display: flex;
    margin: 0.8rem 0 0.8rem 0;
}


.date {
    width: 21.369rem;
    height: 2rem;
    padding: 0.5rem;
    align-items: flex-start;
    flex-shrink: 0;
}

.date:first-child {
    margin-right: 0.41rem;
}

button {
    display: flex;
    height: 2.375rem;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 1.5rem;
    border: 1px solid #6F9AD3;

    color: #6F9AD3;
    text-align: center;
    font-family: Titillium Web;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 1.5rem */
    letter-spacing: -0.011rem;

}


.button-save {
    display: flex;
    width: 8rem;
    height: 2.375rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: none;
    border-radius: 1.5rem;
    background: var(--Azul-claro-Bluetab, #6F9AD3);

    color: var(--Blanco, #FFF);
    text-align: center;
    /* font-family: Titillium Web; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 1.5rem */
    letter-spacing: -0.011rem;
}


.button-save:hover,
button:hover {
    background: var(--Azul-Bluetab, #212492);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    

    color: var(--Blanco, #FFF);
    text-align: center;
    font-family: Titillium Web;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.011rem;
}

.primary-line-knowledge {
    margin-top: 1rem;
    display: flex; 
  justify-content: center; 
  align-items: center; 
    
}