body{
  display: block;
  margin: 30%;
}

#img1{
  background-image: url(./img/Bluetab.png);
  background-repeat: no-repeat;
  background-size: contain; 
  width: 200px;
  height: 100px;
  margin-top: 20px;

}

#containerImg{
  background-color: rgb(207, 207, 207);
  margin-top: -20px;
}

#formCv {
  margin-top: 20%;
}
