/* 
.tittle{
  color: aliceblue;
  padding: 10px;
}
.Inicio{
  color: black;
  padding-left: 90%;
  
}

.boxHeader {
  background-color: #000028;
  height: 80px;
  width: 100%;
  display: flex;
}

.logoSiemens{
  padding: 30px;
}

.letreroInicio{
  align-self: center;
  color: aliceblue;
  margin-left: 70%;
}
.letreroIdioma{
  align-self: center;
  color: aliceblue;
  margin-left: 10px;
} */